<h1>New Review for <%= link_to(@movie.title, @movie)%></h1>

<%= render "shared/errors", object: @review%>

<%= form_with(model: [@movie, @review]) do | f |  %>

    <div class="legend">Stars</div>
    <% Review::STARS.each do |star| %>
    <span class="star">
        <%= f.radio_button :stars, star %>
        <%= f.label :stars, star, value: star %>
    </span>
    <% end %>

    <%= f.label :comment%>
    <%= f.text_area :comment, placeholder: "What did you think?"%>

    <%= f.submit "Post Review"%>

<% end %>